<div class="contain-to-grid">
  <nav class="top-bar" data-topbar>
    <section class="top-bar-section">
      <ul class="right">
        <!-- link to home -->
        <li><%= link_to "Home", home_path %></li>
          
        <% if !logged_in? %>
          <li><%= link_to "View Items", items_path %></li>
          <li><%= link_to "Login", login_path %></li>
          
        <% elsif logged_in? && (current_user.role?(:customer))%>
          <!-- options for orders -->
          <li><%= link_to "View Items", items_path %></li>
    
          <li class="has-dropdown">
              <%= link_to "My Account", customers_path %>
            <ul class="dropdown">
                <li><%= link_to "Profile", customer_path(current_user.customer) %></li>
              <li><%= link_to "My Orders", orders_path %></li>
                <li><%= link_to "My Addresses", addresses_path %></li>
                <li><%= link_to "Logout", logout_path %></li>
            </ul>
          </li>
        
        <% elsif logged_in? && (current_user.role?(:admin))%>
          <!-- options for orders -->
            <li class="has-dropdown">
                <%= link_to "Items", items_path %>
            <ul class="dropdown">
              <li><%= link_to "All Items", items_path %></li>
                <li><%= link_to "New item", new_item_path %></li>
            </ul>
          </li>
          <li class="has-dropdown">
            <%= link_to "Orders", orders_path %>
            <ul class="dropdown">
              <li><%= link_to "All Orders", orders_path %></li>
            </ul>
          </li>
          <li class="has-dropdown">
            <%= link_to "Addresses", addresses_path %>
            <ul class="dropdown">
              <li><%= link_to "All Addresses", addresses_path %></li>
              <li><%= link_to "Add an Address", new_address_path %></li>
            </ul>
          </li>
          <li class="has-dropdown">
              <%= link_to "Users", users_path %>
            <ul class="dropdown">
                <li><%= link_to "All Customers", customers_path %></li>
                <li><%= link_to "All Users", users_path %></li>
                <li><%= link_to "Add a user", new_user_path %></li>
            </ul>
          </li>
          <li><%= link_to "Logout", logout_path %></li>
        
      <% elsif logged_in? && (current_user.role?(:baker)) %> 
        <li><%= link_to "View Items", items_path %></li>
        <li><%= link_to "Logout", logout_path %></li>
        
      <% elsif logged_in? && (current_user.role?(:shipper)) %>
        <li><%= link_to "View Items", items_path %></li>
        <li><%= link_to "Logout", logout_path %></li>
      <% else %>
        <% end %>

        <!-- ADMIN ONLY OPTIONS -->









    </section>
  </nav>
</div>