<%= simple_form_for @item_price, html: { class: 'form-horizontal' } do |f| %>
<div class = "item-price-form small-3 columns">
  <fieldset>
      <% if @item_price.errors.any? %>
            <div id="error_explanation">
                <h2><%= pluralize(@item_price.errors.count, "error") %> prohibited this order from being saved:</h2>
                <ul>
                    <% @item_price.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>
        <div class="field">
            <%= f.input :price %><br />
            <%= f.input :item_id, as: :hidden, input_html: {value: @item.id} %>
            <%= f.input :start_date, as: :hidden, input_html: {value: Date.today} %>
        </div>
        <br>
        <div class="actions">
            <%= f.submit nil, class: "btn submit-button" %>
        </div>
    </fieldset>
</div>
<% end %>
