<% if @customer_past_orders.empty? %>
  &nbsp;
      <h5><em>You have no previous orders.</em></h5>

<% else %>
  <h4> Past Orders</h4>
  <table class="table table-striped">
    <thead>
      <tr>
        <th width="100">Date</th>
        <th width="225">Recipient</th>
        <th width="250">Items</th>
        <th width="100">Cost</th>
      </tr>
    </thead>
    <tbody>
        <% @customer_past_orders.each do |order| %>
        <tr>
          <td><%= link_to order.date.strftime('%m/%d/%y'), order_path(order) %></td>
        <td><%= link_to order.address.recipient, address_path(order.address) %></td>
          <td>
            <% order.order_items.each do |oi| %>
              <%= oi.quantity %> <%= oi.item.name %><br />
            <% end %>
          </td>
          <td><%= number_to_currency order.grand_total %></td>
        </tr>
        <% end %>
    </tbody>
  </table>  
<%= will_paginate @customer_past_orders, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>  
<% end %>
<br />