<%= simple_form_for @order, html: { class: 'form-horizontal' } do |f| %>

  <fieldset>
        <% if @order.errors.any? %>
            <div id="error_explanation">
                <h2><%= pluralize(@order.errors.count, "error") %> prohibited this customer's information from being saved:</h2>
                <ul>
                    <% @order.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>
        <div class="field">
            <p>Since you can't pick your package, go ahead and pick your price!</p>
            <%= f.label :cost %><br />
            <%= f.text_field :grand_total %>
        </div>
        <div class="field">
            <%= f.label :address %><br />
            <%= f.collection_select :address_id, Address.active.by_recipient.all, :id, :full_address, prompt: "Select an address..." %>
        </div>
        <br>
        <div class="actions">
            <%= f.submit nil, class: "btn submit-button" %>
        </div>
    </fieldset>
<% end %>

