<div class="row">
  <div class="small-8 columns">
      <%= link_to "Continue Shopping", items_path %>
      <br>
        <br>
      <%= link_to "View Cart", view_cart_path %>
      <br>
      <br>
      <%= link_to "Proceed to Checkout", checkout_cart_path %>
      <br>
      <br>
  </div>
    <% unless @related_items.empty? %>
        <div class="panel clearfix">
            <h3>Customers who bought this item also bought ... </h3>
            <ul>
                <% @related_items.each do |item| %>
                    <% unless item.picture_url.nil? %>
                        <p><%= image_tag item.picture_url %></p>
                    <% end %>
                    <li><%= link_to item.name, item_path(item) %></li>
              <% end %>
            </ul>
          </div>
    <% end %>
</div>
