<div class="row">
  <div class="small-7 columns">
      <h3>Order Items</h3>
      <%= render partial: 'order_items', locals: {order_items: @order_items}%>
      <h3>Order Details</h3>

        <p>
          <b>Date</b>: <%= @order.date.strftime('%B %e, %Y') %>
        </p>

        <p>
          <b>Recipient</b>: <%= link_to @order.address.recipient, address_path(@order.address) %>
        </p>
        <p>
          <b>Shipping Costs</b>: <%= number_to_currency @order.shipping_costs %>
        </p>

        <p>
          <b>Total Cost</b>: <%= number_to_currency @order.grand_total %>
        </p>
          </div>
        </div>

<% if logged_in? && current_user.role?(:customer) %>
  <div class="form-actions">
    <%= link_to orders_path, class: 'button radius' do %>
      &nbsp;Return to My Orders
    <% end %>
  </div>
<% else %>
  <%= render partial: "partials/object_options", locals: {model_name: "order", object: @order}  %>
<% end %>
