<div class="field">
  <%= f.label :picture %><br />
  <%= f.file_field :picture %>
    <% unless @item.picture_url.nil? %>
        <p><%= image_tag @item.picture_url %></p>
    <% end %>
</div>
<%= f.input :name %>

<%= f.input :description %>
<%= f.input :category, collection: Item::CATEGORIES, include_blank: true, input_html: {class: "avg"} %>

<%= f.input :units_per_item %>
<%= f.input :weight %>

<%= f.check_box :active %>
<%= f.label :active %>