<% if @active_items.empty? %>
    <p>No active items at this time </p>
<% else %>
  <div class="panel clearfix">
    <h3>Bread Express Available Items</h3>
    <ul>
        <% @active_items.each do |item| %>
            <% unless item.picture_url.nil? %>
                <p><%= image_tag item.picture_url %></p>    
            <% end %>
        <li>Name: <%= link_to item.name, item_path(item) %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
        <li>Price: <%= link_to item.current_price, item_path(item) %></li>  
        <li>Units: <%= link_to item.units_per_item, item_path(item) %></li>
        <%= link_to "Add to Cart", add_item_path(item.id) %>
        <br>
        <br>
        
      <% end %>
    </ul>
  </div>
<% end %>