<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>A &amp; M Bread Express</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div id="title_area">
      <%= link_to image_tag('breadexpress_title.png'), home_path %>
        <% if logged_in? && (current_user.role?(:customer) || current_user.role?(:admin)) %>
            <% unless empty_cart? %>
                <div class = "nav-cart">
                    <%= link_to image_tag('cart.png'), view_cart_path %>
                    <%= num_items_in_cart %>
                </div>
            <% end %>
        <% end %>
        <%= render :partial => "partials/nav" %>
        <% if logged_in? && current_user.role?(:customer)%>
            <p>Welcome, <%= current_user.customer.first_name %> </p>
        <% elsif logged_in? && (current_user.role?(:admin) || current_user.role?(:baker) || current_user.role?(:shipper))%>
        <p>Welcome, <%= current_user.username %> </p>
        <% else %>
        <% end %>
    </div>
    
    <div class="row">
      <div class="small-12 columns" id="main_content">
        <%= render :partial => "partials/flash" %>
        <%= yield %>
      </div>
    </div>
    <footer>
      <div class="small-12 columns" id="footer">
        <%= render partial: 'partials/footer' %>
      </div>
    </footer> 
    <%= javascript_include_tag "application" %>
  </body>
</html>